:root {
    --clr-primary: #02693e;
    --clr-secondary: #ffffff;

    --ff-primary: 'Poppins', sans-serif;
}

/* Reset Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
}

body {
    padding: 1rem;
    min-height: 100vh;
    width: 100%;
}

img {
    display: inline-block;
    max-width: 100%;
}

/* Utility */

.container {
    width: 90%;
    margin: 0 auto;
}

/* General Styling */
header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 150px;
}

nav {
    padding: 1rem 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    margin: 0 .5rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #333333;
    transition: 0.3s;
}

nav ul a:hover {
    color: var(--clr-primary);
}

main {
    text-align: center;
}

main .container {
    display: flex;
    flex-direction: column;
}

.main-left h1 {
    font-weight: 500;
    color: #333333;
    line-height: 1.4;
}

span {
    color: var(--clr-primary);
    font-weight: 900;
    font-size: 2rem;
}

.main-left p {
    padding-bottom: 1rem;
    color: #333333;
    margin: 0 auto;
}

.main-left a {
    text-decoration: none;
    background: var(--clr-primary);
    color: white;
    border-radius: 40px;
    padding: 5px 15px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
}

.main-left a:hover {
    background: #1f7250;
}

.main-right img {
    padding-top: 1rem;
    width: 200px;
}

.social {
    display: flex;
    justify-content: center;
}

.social i {
    font-size: 1.5rem;
    margin: .5rem 0;
    padding: 0 2rem;
    color: #000000;
    transition: 0.3s;
}

.social i:hover {
    color: var(--clr-primary);
    transform: scale(1.5);
}

footer img {
    display: none;
    transition: 0.3s;
}

/* Responsive Styling */
@media (min-width: 425px) {

    .main-left p {
        max-width: 600px;
    }

    footer .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }

    footer img {
        display: inline-block;
        margin: 0 2rem;
        width: 75px;
    }
}

@media (min-width: 600px) {

    header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .main-left h1 {
        padding: 1rem 0;
        font-size: 2.5rem;
    }

    span {
        font-size: 3rem;
    }

    footer img:hover {
        transform: translateY(-25%);
    }
}

@media (min-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    main .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .main-left h1 {
        line-height: 1.3;
        font-size: 3rem;
    }

    span {
        font-size: 3.5rem;
    }

    .main-left p {
        margin: 0;
    }

    .main-right {
        margin: 0 2rem;
        display: flex;
        justify-content: center;
    }

    .social {
        position: absolute;
        right: 0;
        top: 40%;
        display: flex;
        flex-direction: column;
    }

    .social i {
        position: relative;
        right: 0;
        
    }
}

@media (min-width: 1024px) {

    :root {
        font-size: 1.2rem;
    }

    .main-right img {
        width: 250px;
    }
}

@media (min-width: 1440px) {

    .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--clr-primary);
        clip-path: circle(600px at right 900px);
    }

    .main-left,
    .main-right {
        width: 50%;
    }

    .main-left h1 {
        line-height: 1.3;
        font-size: 3.4rem;
    }

    span {
        font-size: 4rem;
    }

    .main-right img {
        position: relative;
        top: 50px;
        left: 100px;
        width: 350px;
    }

    .social i:hover {
        color: var(--clr-secondary);
    }
}